<div class="container about">
	<h2>About Gabriel</h2>
	<img src="../img/profile.png" class="profile-large">
	<h3>General</h3>
	<ul>
		<li>Full Name: <span>Gabriel Dubé</span></li>
		<li>Date of Birth: <span>January 28, 1996</span></li>
		<li>Languages: <span>French &amp; English</span></li>
		<li>Age: <span>19</span></li>
		<li>Likes to code: <span>YES</span></li>
	</ul>
	<br>
	<h3>Education</h3>
	<p>Gabriel is currently a student in the Mobile Application Design &amp; Development program at Algonquin College. As of 2016, he holds a cumulative G.P.A. of 3.98 and was among the few to be selected to be a teachers assistant.</p>
	<br>
	<h3>Summary</h3>
	<p>If you&#39;re seeking an ambitious, enthusiastic and curious new intern, set your coffee down and yell &quot;HURRAH&quot; because you've come to the right place!</p>
	<br>
	<p>I’ve implemented, tested and deployed various applications on both desktop and mobile devices. I’ve worked with technologies like Apache Cordova, AngularJS, Ionic, Grunt and many more...</p>
	<br>
	<p>If you&#39;re interested in working together, the best way to contact me is via email at <a href="mailto:mr.gdube@gmail.com">mr.gdube@gmail.com</a>. If you want to learn more about me make sure to check out my social media profiles.</p>
</div>