<div class="container about">
	<h2>About Gabriel</h2>
	<img src="img/profile.min.png" class="profile-large">
	
	<h3>General</h3>
	<ul class="information">
		<li>Full Name: <span>Gabriel Dubé</span></li>
		<li>Title: <span>Web &amp; Mobile Application Developer</span></li>
		<li>Location: <span>Ottawa, Canada</span></li>
		<li>Languages: <span>French &amp; English</span></li>
		<li>Likes to code: <span>YES</span></li>
	</ul>
	<br>
	
	<h3>Education</h3>
	<p>Gabriel is currently a student in the Mobile Application Design &amp; Development program at Algonquin College. As of 2016, he holds a cumulative G.P.A. of 3.98 and was among the few to be selected to be a teachers assistant.</p>
	<br>
	<h3>Summary</h3>
	<p>If you&#39;re seeking an ambitious, enthusiastic and curious new intern, set your coffee down and yell &quot;HURRAH&quot; because you've come to the right place!</p>
	<br>
	<p>I’ve implemented, tested and deployed various applications on both desktop and mobile devices. I’ve worked with technologies like Apache Cordova, AngularJS, Ionic, Grunt and many more...</p>
	<br>
	<p>If you&#39;re interested in working together, the best way to contact me is via email at <a href="mailto:mr.gdube@gmail.com">mr.gdube@gmail.com</a>. If you want to learn more about me make sure to check out my social media profiles.</p>
	<br>

	<h3>Skills &amp; Experience</h3>
   
    <!-- Copyright (c) 2016 by Kriszta (http://codepen.io/vajkri/pen/NxzZwL)
	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.-->
	
	<div class="skills">
		<ul class="lines">
			<li class="line l--0">
				<span class="line__label title">Skill level:</span>
			</li>
			<li class="line l--25">
				<span class="line__label">The basics</span>
			</li>
			<li class="line l--50">
				<span class="line__label">Advanced</span>
			</li>
			<li class="line l--75">
				<span class="line__label">Seasoned</span>
			</li>
			<li class="line l--100">
				<span class="line__label">Expert</span>
			</li>
		</ul>

		<div class="charts">
			<div class="chart chart--dev">
				<span class="chart__title">Development</span>
				<ul class="chart--horiz">
					<li class="chart__bar" data-skill="95">
						<span class="chart__label">WCAG Accessibility Standards</span>
					</li>				
					<li class="chart__bar" data-skill="95">
						<span class="chart__label">HTML5</span>
					</li>
					<li class="chart__bar" data-skill="95">
						<span class="chart__label">CSS3 &amp; SCSS</span>
					</li>
					<li class="chart__bar" data-skill="80">
						<span class="chart__label">JavaScript</span>
					</li>
					<li class="chart__bar" data-skill="40">
						<span class="chart__label">jQuery</span>
					</li>					
					<li class="chart__bar" data-skill="60">
						<span class="chart__label">AngularJS</span>
					</li>
					<li class="chart__bar" data-skill="65">
						<span class="chart__label">Ionic</span>
					</li>
					<li class="chart__bar" data-skill="75">
						<span class="chart__label">Cordova / PhoneGap</span>
					</li>
					<li class="chart__bar" data-skill="55">
						<span class="chart__label">NodeJS</span>
					</li>
					<li class="chart__bar" data-skill="50">
						<span class="chart__label">Grunt &amp; Bower</span>
					</li>
					<li class="chart__bar" data-skill="80">
						<span class="chart__label">JSON &amp; XML</span>
					</li>
					<li class="chart__bar" data-skill="50">
						<span class="chart__label">PHP</span>
					</li>
					<li class="chart__bar" data-skill="60">
						<span class="chart__label">MySQL &amp; SQLite</span>
					</li>					
					<li class="chart__bar" data-skill="60">
						<span class="chart__label">C&#35;</span>
					</li>
					<li class="chart__bar" data-skill="40">
						<span class="chart__label">C&#43;&#43;</span>
					</li>					
				</ul>
			</div>

			<div class="chart chart--prod">
				<span class="chart__title">Productivity</span>
				<ul class="chart--horiz">
					<li class="chart__bar" data-skill="80">
						<span class="chart__label">Github</span>
					</li>
					<li class="chart__bar" data-skill="80">
						<span class="chart__label">Visual Studio</span>
					</li>
					<li class="chart__bar" data-skill="75">
						<span class="chart__label">Android Studio</span>
					</li>					
					<li class="chart__bar" data-skill="100">
						<span class="chart__label">Microsoft Office</span>
					</li>
				</ul>
			</div>

			<div class="chart chart--design">
				<span class="chart__title">Design</span>
				<ul class="chart--horiz">
					<li class="chart__bar" data-skill="75">
						<span class="chart__label">Adobe Photoshop</span>
					</li>
					<li class="chart__bar" data-skill="65">
						<span class="chart__label">Adobe Illustrator</span>
					</li>
					<li class="chart__bar" data-skill="75">
						<span class="chart__label">User Interface</span>
					</li>					
					<li class="chart__bar" data-skill="70">
						<span class="chart__label">User Experience</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--End-->
</div>