<div class="container contact">
	<h2>Contact</h2>
	<img src="img/logo.min.png" class="logo-large">
	<h3>Information</h3>
	<ul>
		<li>Full Name: <span>Gabriel Dubé</span></li>
		<li>Location: <span>Ottawa, Ontario, Canada</span></li>
		<li>Email: <span><a href="mailto:mr.gdube@gmail.com">mr.gdube@gmail.com</a></span></li>
		<br>
		<li>GitHub: <span><a href="https://github.com/dube0141" target="_blank">dube0141</a></span></li>
		<li>CodePen: <span><a href="http://codepen.io/gdube/" target="_blank">gdube</a></span></li>
		<li>LinkedIn: <span><a href="https://ca.linkedin.com/in/gabriel-dubé-7605639b" target="_blank">Gabriel Dubé</a></span></li>
		<li>Twitter: <span><a href="https://twitter.com/GDUBE7" target="_blank">gdube7</a></span></li>
	</ul>
</div>
